title: Sang-il Oum (엄상일)
description: A mathematician at the IBS Discrete Mathematics Group.
url: "https://sangiloum.github.io"
baseurl: ""
timezone: "Asis/Seoul"
theme: minima
permalink: pretty
markdown: kramdown
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-redirect-from
  - jekyll-archives

jekyll-archives:
  enabled:
    - year
    - categories
  layouts:
    year: year-archive
    category: category-archive
  permalinks:
    year: "/:year/"
    category: "/blog/category/:name/"

defaults:
  - scope:
      path: ""
    values:
      layout: page
  - scope:
      path: ""
      type: posts
    values:
      layout: post

exclude:
  - migration
