{%- assign papers = include.papers -%}
{%- if papers and papers.size > 0 -%}
  {%- if include.group_by_year -%}
    {%- assign grouped = papers | group_by: "year" | sort: "name" | reverse -%}
    {%- for g in grouped -%}
### {{ g.name }}

<ol class="paper-list">
  {%- assign in_year = g.items | sort: "sort_key" | reverse -%}
  {%- for paper in in_year -%}
    {%- include paper_item.html paper=paper -%}
  {%- endfor -%}
</ol>
    {%- endfor -%}
  {%- else -%}
<ol class="paper-list">
  {%- assign ordered = papers | sort: "sort_key" | reverse -%}
  {%- for paper in ordered -%}
    {%- include paper_item.html paper=paper -%}
  {%- endfor -%}
</ol>
  {%- endif -%}
{%- endif -%}
