{% assign src = include.src | default: '' | strip %}
{% assign src = src | remove_first: '/' %}
{% assign alt = include.alt | default: '' | escape_once %}
{% assign css_class = include.class | default: '' | strip %}
{% assign profile = include.sizes_profile | default: 'default' | strip %}
{% assign extension = src | split: '.' | last | downcase %}
{% assign preserve_original = include.preserve_original | default: false %}
{% if extension == 'gif' or extension == 'png' %}
  {% assign preserve_original = true %}
{% endif %}

{% if src != '' %}
  {% assign img_attr = '' %}
  {% if css_class != '' %}
    {% assign img_attr = 'class="' | append: css_class | append: '"' %}
  {% endif %}

  {% if preserve_original %}
    {% if img_attr != '' %}
{% picture preserve-original "{{ src }}" --alt {{ alt }} --img {{ img_attr }} %}
    {% else %}
{% picture preserve-original "{{ src }}" --alt {{ alt }} %}
    {% endif %}
  {% elsif profile == 'featured' %}
    {% if img_attr != '' %}
{% picture featured "{{ src }}" --alt {{ alt }} --img {{ img_attr }} %}
    {% else %}
{% picture featured "{{ src }}" --alt {{ alt }} %}
    {% endif %}
  {% elsif profile == 'card' %}
    {% if img_attr != '' %}
{% picture card "{{ src }}" --alt {{ alt }} --img {{ img_attr }} %}
    {% else %}
{% picture card "{{ src }}" --alt {{ alt }} %}
    {% endif %}
  {% elsif profile == 'grid-2' %}
    {% if img_attr != '' %}
{% picture grid-2 "{{ src }}" --alt {{ alt }} --img {{ img_attr }} %}
    {% else %}
{% picture grid-2 "{{ src }}" --alt {{ alt }} %}
    {% endif %}
  {% elsif profile == 'grid-3' %}
    {% if img_attr != '' %}
{% picture grid-3 "{{ src }}" --alt {{ alt }} --img {{ img_attr }} %}
    {% else %}
{% picture grid-3 "{{ src }}" --alt {{ alt }} %}
    {% endif %}
  {% else %}
    {% if img_attr != '' %}
{% picture "{{ src }}" --alt {{ alt }} --img {{ img_attr }} %}
    {% else %}
{% picture "{{ src }}" --alt {{ alt }} %}
    {% endif %}
  {% endif %}
{% endif %}
