{%- assign entries = site.data.students_former | default: empty -%}
{%- assign phd_entries = entries | where: "track", "phd" -%}
{%- assign ms_entries = entries | where: "track", "ms" -%}
<ul>
  <li>Ph.D.
    <ul>
    {%- for entry in phd_entries -%}
      {%- assign person = site.data.people | where: "id", entry.id | first -%}
      {%- capture name_html -%}
        {%- if person -%}
          {{ person.firstname }}{% if person.lastname != "" %} {{ person.lastname }}{% endif %}{% if person.korname %}<sup>{{ person.korname }}</sup>{% endif %}
        {%- else -%}
          {{ entry.id }}
        {%- endif -%}
      {%- endcapture -%}
      {%- assign homepage = entry.homepage | default: person.url -%}
      {%- capture degree_html -%}
        {%- assign dlist = entry.degrees | default: empty -%}
        {%- for d in dlist -%}
          {%- assign label = d.degree -%}
          {%- if d.degree == "phd" -%}{%- assign label = "Ph.D." -%}{%- endif -%}
          {%- if d.degree == "ms" -%}{%- assign label = "M.S." -%}{%- endif -%}
          {{ label }}{% if d.date %} {{ d.date }}{% endif %}{%- unless forloop.last -%}, {% endunless -%}
        {%- endfor -%}
      {%- endcapture -%}
      {%- capture thesis_html -%}
        {%- if entry.thesis -%}
          {%- if entry.thesislink -%}
            <a href="{{ entry.thesislink }}"><em>{{ entry.thesis }}</em></a>
          {%- else -%}
            <em>{{ entry.thesis }}</em>
          {%- endif -%}
        {%- endif -%}
      {%- endcapture -%}
      {%- assign thesis_html = thesis_html | strip -%}
      {%- capture current_html -%}{%- if entry.current_position -%}{{ entry.current_position | markdownify }}{%- endif -%}{%- endcapture -%}
      {%- assign current_html = current_html | strip | remove: '<p>' | remove: '</p>' -%}
      {%- capture extra_html -%}{%- if entry.extra -%}{{ entry.extra | markdownify }}{%- endif -%}{%- endcapture -%}
      {%- assign extra_html = extra_html | strip | remove: '<p>' | remove: '</p>' -%}
      <li>{% if homepage %}<a href="{{ homepage }}">{{ name_html | strip }}</a>{% else %}{{ name_html | strip }}{% endif %}. {{ degree_html | strip }}.{% if current_html != '' %} (Currently, {{ current_html }}.){% endif %}{% if thesis_html != '' %}<br>PhD thesis: {{ thesis_html }}{% endif %}{% if extra_html != '' %}<br>{{ extra_html }}{% endif %}</li>
    {%- endfor -%}
    </ul>
  </li>
  <li>M.S.
    <ul>
    {%- for entry in ms_entries -%}
      {%- assign person = site.data.people | where: "id", entry.id | first -%}
      {%- capture name_html -%}
        {%- if person -%}
          {{ person.firstname }}{% if person.lastname != "" %} {{ person.lastname }}{% endif %}{% if person.korname %}<sup>{{ person.korname }}</sup>{% endif %}
        {%- else -%}
          {{ entry.id }}
        {%- endif -%}
      {%- endcapture -%}
      {%- assign homepage = entry.homepage | default: person.url -%}
      {%- capture degree_html -%}
        {%- assign dlist = entry.degrees | default: empty -%}
        {%- for d in dlist -%}
          {%- assign label = d.degree -%}
          {%- if d.degree == "phd" -%}{%- assign label = "Ph.D." -%}{%- endif -%}
          {%- if d.degree == "ms" -%}{%- assign label = "M.S." -%}{%- endif -%}
          {{ label }}{% if d.date %} {{ d.date }}{% endif %}{%- unless forloop.last -%}, {% endunless -%}
        {%- endfor -%}
      {%- endcapture -%}
      {%- capture current_html -%}{%- if entry.current_position -%}{{ entry.current_position | markdownify }}{%- endif -%}{%- endcapture -%}
      {%- assign current_html = current_html | strip | remove: '<p>' | remove: '</p>' -%}
      {%- capture extra_html -%}{%- if entry.extra -%}{{ entry.extra | markdownify }}{%- endif -%}{%- endcapture -%}
      {%- assign extra_html = extra_html | strip | remove: '<p>' | remove: '</p>' -%}
      <li>{% if homepage %}<a href="{{ homepage }}">{{ name_html | strip }}</a>{% else %}{{ name_html | strip }}{% endif %}. {{ degree_html | strip }}.{% if current_html != '' %} ({{ current_html }}){% endif %}{% if extra_html != '' %}<br>{{ extra_html }}{% endif %}</li>
    {%- endfor -%}
    </ul>
  </li>
</ul>
