<div class="three-figures">
  {% assign figure_profile = include.sizes_profile | default: 'grid-3' %}
  {% assign figure_profile1 = include.sizes_profile1 | default: figure_profile %}
  {% assign figure_profile2 = include.sizes_profile2 | default: figure_profile %}
  {% assign figure_profile3 = include.sizes_profile3 | default: figure_profile %}
  <figure>
    {% include responsive-picture.html
      src=include.src1
      alt=include.alt1
      class=include.class1
      sizes_profile=figure_profile1
    %}
    {% if include.caption1 %}
    <figcaption>{{ include.caption1 }}</figcaption>
    {% endif %}
  </figure>
  <figure>
    {% include responsive-picture.html
      src=include.src2
      alt=include.alt2
      class=include.class2
      sizes_profile=figure_profile2
    %}
    {% if include.caption2 %}
    <figcaption>{{ include.caption2 }}</figcaption>
    {% endif %}
  </figure>
  <figure>
    {% include responsive-picture.html
      src=include.src3
      alt=include.alt3
      class=include.class3
      sizes_profile=figure_profile3
    %}
    {% if include.caption3 %}
    <figcaption>{{ include.caption3 }}</figcaption>
    {% endif %}
  </figure>
</div>
