{{- $id := .id -}}
{{- $link := .link | default true -}}
{{- $strong := .strong | default false -}}
{{- $person := dict -}}
{{- range site.Data.people -}}
  {{- if eq .id $id -}}
    {{- $person = . -}}
  {{- end -}}
{{- end -}}
{{- $name := $id -}}
{{- if $person.id -}}
  {{- $name = printf "%s%s%s" $person.firstname (cond (ne $person.lastname "") " " "") $person.lastname -}}
{{- end -}}
{{- $inner := $name -}}
{{- if and $person.id $person.korname -}}
  {{- $inner = printf "%s<sup>%s</sup>" $inner $person.korname -}}
{{- end -}}
{{- if and $link $person.id $person.url -}}
  {{- $inner = printf "<a href=\"%s\">%s</a>" $person.url $inner -}}
{{- end -}}
{{- if $strong -}}
  {{- $inner = printf "<strong>%s</strong>" $inner -}}
{{- end -}}
{{- $inner | safeHTML -}}
