{{ $postdocs := site.Data.postdocs_current | default (slice) }}
<div class="student-current-grid">
  {{ range $postdocs }}
    {{ $personData := index (where site.Data.people "id" .id) 0 }}
    {{ $first := "" }}
    {{ $last := "" }}
    {{ $kor := "" }}
    {{ $photo := "" }}
    {{ $url := "" }}
    {{ if $personData }}
      {{ $first = $personData.firstname | default "" }}
      {{ $last = $personData.lastname | default "" }}
      {{ $kor = $personData.korname | default "" }}
      {{ $photo = $personData.photo | default "" }}
      {{ $url = $personData.url | default "" }}
    {{ end }}
    {{ $fullName := printf "%s%s%s" $first (cond (and (ne $first "") (ne $last "")) " " "") $last }}
    {{ if and (eq $fullName "") (ne $kor "") }}
      {{ $fullName = $kor }}
    {{ end }}
    {{ if eq $fullName "" }}
      {{ $fullName = .id }}
    {{ end }}
    {{ $phdInstitution := .phd_institution | markdownify | strings.TrimPrefix "<p>" | strings.TrimSuffix "</p>" }}
    {{ $advisors := .advisors | default (slice) }}
    <article class="student-current-card">
      <div class="student-current-avatar">
        {{ if $url }}
          <a class="student-current-avatar-link" href="{{ $url | safeURL }}" target="_blank" rel="noopener noreferrer" aria-label="{{ $fullName }} homepage">
        {{ end }}
        {{ if $photo }}
          <img src="{{ $photo | safeURL }}" alt="{{ $fullName }}" loading="lazy" decoding="async">
        {{ else }}
          <span class="student-current-avatar-fallback">{{ substr $fullName 0 1 }}</span>
        {{ end }}
        {{ if $url }}
          </a>
        {{ end }}
      </div>
      <div class="student-current-meta">
        <h4 class="student-current-name">{{ partial "person-name.html" (dict "id" .id "link" true) }}</h4>
        <p class="student-current-period">{{ .start }}-{{ if .end }}{{ .end }}{{ else }}current{{ end }}</p>
        <p class="student-current-note">Ph.D. {{ .phd_year }}, {{ $phdInstitution | safeHTML }}</p>
        {{ if gt (len $advisors) 0 }}
          <p class="student-current-note">
            {{ if eq (len $advisors) 1 }}Advisor{{ else }}Advisors{{ end }}:
            {{ range $i, $aid := $advisors }}
              {{ if gt $i 0 }}
                {{ if eq $i (sub (len $advisors) 1) }}
                  {{ if gt (len $advisors) 2 }}, and {{ else }} and {{ end }}
                {{ else }}
                  , 
                {{ end }}
              {{ end }}
              {{ partial "person-name.html" (dict "id" $aid "link" true) | safeHTML }}
            {{ end }}
          </p>
        {{ end }}
      </div>
    </article>
  {{ end }}
</div>
