<ul>
{{ range (site.Data.postdocs_former | default (slice)) }}
  {{ $advisors := .advisors | default (slice) }}
  {{ $currentPosition := .current_position | default "" }}
  {{ $currentPositionHTML := $currentPosition | markdownify | strings.TrimPrefix "<p>" | strings.TrimSuffix "</p>" | safeHTML }}
  <li>{{ partial "person-name.html" (dict "id" .id "link" true) }}. {{ .start }}-{{ .end }}.{{ if .tag }} [{{ .tag }}]{{ end }}<br>Ph.D. at {{ .phd_institution | markdownify | strings.TrimPrefix "<p>" | strings.TrimSuffix "</p>" | safeHTML }}, {{ .phd_year }}.{{ if gt (len $advisors) 0 }} {{ if eq (len $advisors) 1 }}Advisor{{ else }}Advisors{{ end }}: {{ range $i, $aid := $advisors }}{{ if gt $i 0 }}{{ if eq $i (sub (len $advisors) 1) }}{{ if gt (len $advisors) 2 }}, and {{ else }} and {{ end }}{{ else }}, {{ end }}{{ end }}{{ partial "person-name.html" (dict "id" $aid "link" true) | safeHTML }}{{ end }}.{{ end }}{{ if .current_note }} ({{ .current_note }}){{ end }}{{ if ne $currentPosition "" }} {{ if in (lower $currentPosition) "currently" }}({{ $currentPositionHTML }}){{ else }}(Currently, {{ $currentPositionHTML }}){{ end }}{{ end }}</li>
{{ end }}
</ul>
