---
layout: default
---
<article class="page{% if page.permalink == "/papers/" %} page-papers{% endif %}">
  {% if page.url != '/' %}
  {% include breadcrumb.html %}
  {% endif %}
  <header class="page-header">
    <h1>{{ page.title }}</h1>
    {% if page.lead %}
    <p class="lead">{{ page.lead }}</p>
    {% endif %}
  </header>
  {% if page.featured_image %}
  <figure class="post-featured">
    {% include responsive-picture.html
      src=page.featured_image
      alt=page.title
      sizes_profile="featured"
      class="post-featured-image"
    %}
  </figure>
  {% endif %}
  <section class="page-body">
    {{ content }}
  </section>
</article>
